%h2
  %span.small
    クラン
  = h session[:clan_name]

%a{:href => "/delete_member/#{session[:screen_name]}"}  
  このクランへの参加をやめる

.block
  - if $db[session[:clan_name]][session[:screen_name]][:permission] == :owner
    メンバーの管理
    - $db[session[:clan_name]].each_value do |member|
      %div
        %img{:src => "http://api.dan.co.jp/twicon/#{h member[:screen_name]}/normal"}
        %a.member-menu{:href => "http://twitter.com/#{h member[:screen_name]}"}
          @#{h member[:screen_name]}
        - if member[:permission] == :owner
          %span.member-menu
            オーナー！ 
        - else
          %a.member-menu{:href => "/delete_member/#{member[:screen_name]}"}
            クランから外す 
          - if member[:permission] == :user
            %a.member-menu{:href => "/tweetable_member/#{member[:screen_name]}"}
              クランでツイートできるようにする

  
